.logo{
    background-color: #000;
    font-family: 'FugazOne-Regular';
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 800;
}
.header-container{
    width: 80%;padding-left:10%;padding: right 10%;display:flex;justify-content:space-between;align-items:center;position:fixed;top:0;left:0;z-index:1000;
}
.menu {
  display: flex;
  gap: 20px;
  align-items: center;
}
.menu a {
  color: #333;
  font-size: 1rem;
  padding: 6px 4px;
  transition: color .18s ease;
}
.menu a:hover { color: #00bcd4; }

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}


.section1{
   height: 600px;
   /*background-image: url("../assets/img/Background/section-1.png");*/
   background-size: cover;background-position: center;display: flex;justify-content: center;align-items: center;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
  }

  .carousel {
    display: flex;
    animation: slideSteps 1s steps(5) infinite; 
  }

  .carousel img {
    width: 20%;
    flex-shrink: 0;
    margin: 0;    
    padding: 0;
  }

  @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }