.logo{
    background-color: #000;
    font-family: 'FugazOne-Regular';
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 800;
}

.menu{
    width: 100%;display:flex;gap:20px;align-items:center
}