.logo{
    background-color: #000;
    font-family: 'FugazOne-Regular';
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 800;
}

.menu{
    width: 100%;display:flex;gap:20px;align-items:center;
}

.section1{
   height: 600px;
   /*background-image: url("../assets/img/Background/section-1.png");*/
   background-size: cover;background-position: center;display: flex;justify-content: center;align-items: center;
}