.logo{
    background-color: #000;
    font-family: 'FugazOne-Regular';
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 800;
}

.menu{
    width: 100%;display:flex;gap:20px;align-items:center;
}

.section1{
   height: 600px;
   /*background-image: url("../assets/img/Background/section-1.png");*/
   background-size: cover;background-position: center;display: flex;justify-content: center;align-items: center;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
  }

  .carousel {
    display: flex;
    animation: slideSteps 1s steps(5) infinite; 
  }

  .carousel img {
    width: 20%;
    flex-shrink: 0;
    margin: 0;    
    padding: 0;
  }

  @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }