@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FugazOne-Regular';
    src: url('../fonts/FugazOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}
footer{
    padding-top:100px;
}
h1 {
    color: #0935b1;
}

.subtitle{
    font-family: 'FugazOne-Regular', Courier, monospace;color:#020000;
}
.parrafo{
    font-family: 'Arial', sans-serif;color:#fafafa;
}
.parrafo-fondo-color{
    font-family: 'Arial', sans-serif;color:#000000;
    font-size: 1.2rem;     
    font-weight: bold; 

}
.footer-container1{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f2f2f2;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    flex-direction: row;
}
.footer-container2{
    width:25%;display: block;justify-content: center; align-items: center; padding: 20px;
}
.footer-container3{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
}
.copy{
    text-align:center; padding:20px;background-color:#464646;
}