@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FugazOne-Regular';
    src: url('../fonts/FugazOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}

h1 {
    color: #0935b1;
}